In [1]:
import pandas as pd

In [2]:
# ---- SETTINGS ----
input_path = "hindi_english_parallel.csv"       # Path to your original big CSV file
output_path = "data.csv"   # Path for saving smaller CSV
sample_size = 200000                  # 2 lakh rows

In [3]:
# ---- LOAD DATA ----
print("Loading dataset...")
df = pd.read_csv(input_path)
print("dataset Loaded...")

Loading dataset...
dataset Loaded...

In [4]:
df.shape

(1561841, 2)

In [5]:
df.tail()

,hindi,english
1561836,स्पष्टीकरण.–जहां इस उपधारा के अधीन हानि और लाभ...,स्पष्टीकरण.–जहां इस उपधारा के अधीन हानि और लाभ...
1561837,मैंने गौर किया है कि यह न केवल अपने महत्त्वपूर...,है। I note that this is a landmark meeting – n...
1561838,उन्होंने मेरे समक्ष जो प्रदर्शन किया उसमें से ...,है। In the presentations that they made before...
1561839,खाद्य और जल सुरक्षा; पर्यावरण की दृष्टि से वहन...,्त है। Issues such as food and water security;...
1561840,NaN,NaN

In [6]:
# ---- SAMPLE DATA ----
if len(df) > sample_size:
    df_sampled = df.sample(n=sample_size, random_state=42)
else:
    df_sampled = df
    print("Dataset already smaller than target size, skipping sampling.")

In [7]:
# ---- SAVE REDUCED CSV ----
df_sampled.to_csv(output_path, index=False)

In [8]:
print(f" Saved reduced dataset with {len(df_sampled)} rows to '{output_path}'")

 Saved reduced dataset with 200000 rows to 'data.csv'

**Step-2**

In [9]:
input_path = "data.csv"          # your reduced CSV file
english_col = "english"          
hindi_col = "hindi"

In [10]:
# ---- LOAD DATA ----
df_ = pd.read_csv(input_path_)

NameError: name 'input_path_' is not defined

In [ ]:
# ---- SAVE ENGLISH ----
with open("English.txt", "w", encoding="utf-8") as f:
    for line in df[english_col].astype(str):
        f.write(line.strip() + "\n")

In [ ]:
# ---- SAVE HINDI ----
with open("Hindi.txt", "w", encoding="utf-8") as f:
    for line in df[hindi_col].astype(str):
        f.write(line.strip() + "\n")

In [ ]:
print("✅ Saved English.txt and Hindi.txt successfully.")

✅ Saved English.txt and Hindi.txt successfully.

In [ ]:
with open("English.txt", "r", encoding="utf-8") as f:
    english_lines = f.readlines()


with open("Hindi.txt", "r", encoding="utf-8") as f:
    hindi_lines = f.readlines()

In [ ]:
print("English sample:", english_lines[:5])

English sample: ['Give your application an accessibility workout\n', 'Accerciser Accessibility Explorer\n', 'The default plugin layout for the bottom panel\n', 'The default plugin layout for the top panel\n', 'A list of plugins that are disabled by default\n']

In [ ]:
print("Hindi sample:", hindi_lines[:5])

Hindi sample: ['अपने अनुप्रयोग को पहुंचनीयता व्यायाम का लाभ दें\n', 'एक्सेर्साइसर पहुंचनीयता अन्वेषक\n', 'निचले पटल के लिए डिफोल्ट प्लग-इन खाका\n', 'ऊपरी पटल के लिए डिफोल्ट प्लग-इन खाका\n', 'उन प्लग-इनों की सूची जिन्हें डिफोल्ट रूप से निष्क्रिय किया गया है\n']

In [ ]:
data = pd.read_csv('data.csv')

In [ ]:
data.shape

(500000, 2)